<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>api_main</title>
</head>
<body>
    <div class="mb-3">
        <label for="create_method" class="block text-sm font-medium text-gray-700">请求方式</label>
        <select id="create_method" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <option value="GET">GET</option>
            <option value="POST">POST</option>
            <option value="PUT">PUT</option>
        </select>
    </div>
</body>
<script>

</script>
    
</html>
