<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>平台首页</title>
<style type="text/css">
#select_list{
    line-height:30px;
    background-color:lightblue;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
button{
height:100px;

}
</style>
</head>
<body>
<div id="select_list">
    <button onclick="jump('performance/')">用例管理平台</button><br>
    <button onclick="jump('')">接口测试平台</button><br>
    <button onclick="jump('')">性能测试平台</button><br>
</div>
<script>
    function jump(url){
        window.location.href=url;
    }
</script>
</body>
</html>
